
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*#grad {
    background: #3a58ff;
    background: -webkit-linear-gradient(#a8ffff, #3a58ff);
    background: -o-linear-gradient(#a8ffff, #3a58ff);
    background: -moz-linear-gradient(#a8ffff, #3a58ff);
    background: linear-gradient(#a8ffff, #3a58ff);
}*/

/*.mobile {
	height: 100vh;
	background-color: white;
	text-align: center;
	margin: 10px;
	top: 25%;
}*/

.mobile h1 {
	padding-top: 20vh;
}

.welcome{
  /*background-color: #6DD3CE;*/
	background-image: url("../images/clouds.jpg");
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
  height: 110vh;
}

.interstitial{
  background-color: white;
  height: 50vh
}


.whatAmI {
	background-color: #F7A278;
	height: 125vh;
	overflow: hidden;
	position: relative;
}

.myWorkParent{
	position: relative;
	z-index: 100;
	overflow: hidden;
}

.myWork{
  background-color: #A13D63;
  height: 175vh;
	overflow: hidden;
}





.myLinks{
  background-color: #2965AC;
  height: 100vh;
}

.fifthSection{
  background-color: #351E29
}


.titleDiv{
  position: relative;
  margin: auto;
  top: 35vh;
	line-height: 10em;
}

.titleText{
  font-family: 'Permanent Marker', cursive;

  font-size: 6vw;
  text-align: center;
  vertical-align: middle;

  -webkit-animation: fadein 2.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.3s; /* Firefox < 16 */
  -ms-animation: fadein 2.3s; /* Internet Explorer */
  -o-animation: fadein 2.3s; /* Opera < 12.1 */
  animation: fadein 2.3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.instructScrollDiv{
  position: relative;
  /*width: 80vw;*/
  margin: auto;
  top: 40vh
}

.instructScrollText{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 4vw;
  color: black;

  -webkit-animation-duration: 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation-duration: 2s; /* Firefox < 16 */
  -ms-animation-duration: 2s; /* Internet Explorer */
  -o-animation-duration: 2s; /* Opera < 12.1 */
  animation-duration: 2s;
  animation-delay: 0.5s;
}


/*/////////INTERSTITIAL///////////*/

/*.interImage {
	position: relative
}

.interImage img {
	display: block;
	width: 100%;
	max-width: 1200px; /* corresponds to max height of 450px
  margin: 0 auto;
}
*/

.interstitial{
	position: relative;
}

.interTextBig {
	position: absolute;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.7);
	top: 50%;
	/*left: 50%;*/
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px;
}

.fullstackLogo {
	position: absolute;
	z-index: 10;
	left: 65%;
	top: 24%;
}

.fullstackLogo img{
	height: 15em;
}

.interTextBig.left{
	left: 35%;
}
.interTextBig.left img{
	/*left: 35%;*/
}

.interTextBig.right{
	left: 85%;
}

.interTextBig h1 {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3vw;
}


.imageContainer {
	width: 100%;
	height: 50vh;
	overflow: hidden;
	position: relative;
}

.imageContainer.slider{
	width: 92%;
	height: 40vh;
	overflow: hidden;
	position: relative;
	top: 5vh;
	border-radius: 68px;
	margin: auto;
}

.imageCenterer {
  width: 100%;
  position: absolute;
  /*left: 50%;*/
	bottom: 50%;
  top: 0px;
  /*margin-left: -500px;*/
}

.imageCenterer img {
  display: block;
  margin: 0 auto;
	width: 100%;
}






/*///////////////////whatAmI///////////////////*/


.popUpCopy {
	position: absolute;
	visibility: hidden;
	animation-delay: 1s;
	background-color: rgba(0, 0, 0, 0);
	left: -20px;
	/*padding: 4vh 0vh 0vh 4vh;*/
}

.popUpCopy img{
	display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%;
  max-height: 100%;
	vertical-align: middle;
}

/*#nerpLogos {
	height: 400px;
	width: 400px;
}*/



/*///////////////////DESK ANIMATION///////////////////*/

.deskAnimation{
	position: absolute;
	/*top: -180px;*/
}


#deskPng{
	position: absolute;
	z-index: 0;
	height: 600px;
	width: 600px;
	left: 1000px;
	top: 1000px;
}

#chairPng{
	position: absolute;
	z-index: 10;
	/*height: 348px;
	width: 348px;
	left: -1000px;*/
	height: 600px;
	width: 600px;
	left: -1000px;

}

#bookPng{
	position: absolute;
	z-index: 20;
	/*height: 96px;
  width: 96px;*/
  left: 2000px;
	top: 140px;
	height: 600px;
	width: 600px;
}
#puterPng{
	position: absolute;
	z-index: 30;
	/*height: 246px;
	width: 246px;*/

	left: 140px;
	top: -3000px;
	height: 600px;
	width: 600px;
}
#treePng{
	position: absolute;
	z-index: 40;
	/*height: 156px;
	width: 156px;*/
	left: 2000px;
	top: 25px;
	height: 600px;
	width: 600px;
}
#dopeSauce{
	position: absolute;
	z-index: 50;


	left: -10vh;
  top: -25vh;
	height: 600px;
	width: 600px;
	visibility: hidden;
}
#dopeSauceCursor{
	position: absolute;
	z-index: 60;
	left: -10vh;
  top: -25vh;
	height: 600px;
	width: 600px;
	visibility: hidden;
}

.mainSlideCopy{
	font-family: 'Josefin Sans', sans-serif;
	/*font-size: 12vh;
	margin-top: 5vh;*/
  line-height: 1em;
	text-align: center;

	font-size: 100px;
	margin-top: 30px;
  line-height: 0.8em;
	margin-top: 50px;
}

.secondSlideCopy{
	font-family: 'Josefin Sans', sans-serif;
	/*font-size: 1.8vw;*/
	/*text-align: center;*/
	font-size: 24px;

}



/*//////////MY WORK//////////*/

.myWork .mainSlideCopy {

	font-family: 'Josefin Sans', sans-serif;
	font-size: 5em;
	line-height: 1em;

}

.soccerAnimation{
	top: 10px;
	left: -30px;
	position: absolute;
}

#fieldOne{
	position: absolute;
	z-index: 10;
	/*height: 600px;
	width: 600px;*/
	left: 1000px;
}

#fieldTwo{
	position: absolute;
	z-index: 20;
	/*height: 600px;
	width: 600px;*/
	left: 1000px;

}

#fieldThree{
	position: absolute;
	z-index: 30;
	/*height: 600px;
	width: 600px;*/
	left: 1000px;
	top: 1000px;
}

/*#fieldFour{
	position: absolute;
	z-index: 40;
	height: 600px;
	width: 600px;
}*/


#newHover {
	height: 250px;
}

.projectDivLeft p{
	font-family: 'Josefin Sans', sans-serif, italic;
	font-size: 15px;
	color: #cccccc;
}

.projectDivLeft h3{
	/*font-family: 'Josefin Sans', sans-serif, italic;*/
	color: #cccccc;
}


.projectDivRight {
	height: 220px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}



.projectDivRight img {
	max-height: 100%;
	left: 50%;
	margin-left: -200px;
	position: absolute;
}

.wejayLink {
	background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wejayLink #logo{
	width: 300px;
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}

.wejayLinkText {
	color: #cccccc;
	text-align: center;
	padding-bottom: 10px;
	font-size: 1em;
}

.wejayLinkLinks {
	color: #cccccc;
	text-align: center;
}

.herokuLogo {
	width: 40px;
	display: block;
	margin: 0 auto;
}
.githubLogo {
	width: 75px;
	display: block;
	margin: 0 auto;
}


.videoText {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif, italic;
	font-size: 2em;
	color: #cccccc;
	margin-top: 30px;
}


.wejayVid {
	/*background-color: rgba(0, 0, 0, 0.2);*/
	background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
	border-radius: 10px;
	z-index: 100;
	text-align: center;
}

.wejayVid p {
	font-family: 'Josefin Sans', sans-serif, italic;
	font-size: 20px;
	color: #cccccc;
}
.wejayVid iframe {
	/*display: inline;*/
}


.techTalkVid {
	background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
	border-radius: 10px;
	text-align: center;
}

.techTalkVid p {
	font-family: 'Josefin Sans', sans-serif, italic;
	font-size: 20px;
	color: #cccccc;
}
.techTalkVid iframe {
	/*display: inline;*/
}







/*//////////INTERSTITIAL 3 INTEREST SLIDER //////////*/

.slideContainer {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0px auto 0px;
	top: -140px;
}

.slide {
	position: absolute;
	width: 100vw;
	height: 50vh;
	top: 140px;
	left: 0px;
	font-size: 50px;
	text-align: center;
}

.interTextBigPassion {
	position: absolute;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px;
}


.interTextBigPassion h1 {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.interestText {
	position: absolute;
	top: 75%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.slidesCenterer {
	width: 100%;
	position: absolute;
}

.slidesCenterer img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

/*.popUpCopy .row:nth-of-type(4) img{*/

.slideContainer .slide:nth-of-type(1) .imageContainer .slidesCenterer {
	bottom: -300px;
}
.slideContainer .slide:nth-of-type(1) .imageContainer .slidesCenterer h1{
	top: 50%;
	color: white;
}

.slideContainer .slide:nth-of-type(2) .imageContainer .slidesCenterer {
	bottom: -200px;
}
.slideContainer .slide:nth-of-type(2) .imageContainer .slidesCenterer h1{
	top: 60%;
	color: white;
}

.slideContainer .slide:nth-of-type(3) .imageContainer .slidesCenterer {
	bottom: 0px;
}
.slideContainer .slide:nth-of-type(3) .imageContainer .slidesCenterer h1{
	top: 75%;
	color: white;
}




/*//////////HERE ARE MY LINKS//////////*/

/*BG COLOR --> 2965AC*/
.myLinks {
	height: 100vh;
  overflow: hidden;
	position: relative;

}


/*position: absolute;
z-index: 10;
background-color: rgba(0, 0, 0, 0.5);
top: 25%;
text-align: center;
padding: 20px;*/

.linksDiv {
	position: absolute;
	z-index: 70;
	background-color: rgba(255, 255, 255, 0.0);
	padding: 15px;
	left: 18%;
	right: 17%;
	text-align: center;
}

.linksDiv img {
	display: inline-block;
}

.linksDiv img:nth-of-type(1) {
	height: 125px;
	margin: 20px;
}
.linksDiv img:nth-of-type(2) {
	height: 125px;
	margin: 20px;
}
.linksDiv img:nth-of-type(3) {
	height: 125px;
	margin: 20px;
}
.linksDiv img:nth-of-type(4) {
	height: 140px;
	margin: 10px;
}
/*.linksDiv img:nth-of-type(5) {
	height: 125px;
	margin: 20px;
}*/




.mtnAnimation{
	position: relative;
	/*z-index: 10*/
	width:100%;
  height: 100%;
}

#mtnWaterFront{
	position: absolute;;
	z-index: 41;
	width:100%;
  height: 100%;
}

#mtnGround{
	position: absolute;;
	z-index: 45;
	width:100%;
  height: 100%;
}
#mtnMtn{
	position: absolute;;
	z-index: 40;
	width:100%;
  height: 100%;
}
#mtnClouds{
	position: absolute;;
	z-index: 50;
	width:100%;
  height: 100%;
}
#mtnMoon{
	position: absolute;;
	z-index: 60;
	width: auto;
  max-width: 100vw;
  height: auto;
  max-height: 100vh;
}

.popUpLinksCopy {
	visibility: hidden;
	position: absolute;
	z-index: 70;
	background-color: rgba(255, 255, 255, 0.8);
	top: 7%;
	padding: 30px;
	left: 20%;
	right: 20%;
	text-align: center;

}

.popUpLinksCopy #oppsCopy{
	color: black;
	font-family: 'Permanent Marker', cursive;
	font-size: 3.5em;
	padding-bottom: 30px;
	line-height: 0.9em;
}

.popUpLinksCopy .interestCopy{
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
}



}
